@font-face {
	font-family: 'imperialregular';
	src: url('../fonts/imperialbt-roman-webfont.woff2') format('woff2'),
	url('../fonts/imperialbt-roman-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.row:after,
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}
html,body{
	height: 100%;
}
body{
	min-width: 320px;
	font: 20px/30px 'imperialregular', 'Times New Roman', serif;
	color: #000;
	background: #fff;
	margin: 0;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
p{
	margin: 0 0 15px;
}
p:last-child{
	margin: 0;
}
ol,
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{counter-reset:section;}
ol>li{
	counter-increment:section;
	position:relative;
}
ol>li:before{
	float:left;
	vertical-align:top;
	content:"" counter(section) " -";
	padding:0 3px 0 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
	vertical-align:top;
	border-style:none;
	max-width: 100%;
	height: auto;
}
a{
	color: #0f67f4;
	text-decoration: none;
	transition: all 0.2s ease;
}
a:hover{
	text-decoration: underline;
}
input[type=text], input[type=submit], input[type=button],
input[type=password], input[type=file], textarea{
	-webkit-appearance:none;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button{
	display: none;
}
button,
input,
textarea,
select{
	font:100% Roboto, Arial, Helvetica, sans-serif;
	color:#343f52;
	outline:none;
}
::-moz-placeholder{
	color: #999;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #999;
}
::-webkit-input-placeholder {
	color: #999;
}
input[type="number"]{
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner{
	padding:0;
	border:0;
}
/* modal */
.modal-open{
	overflow: hidden;
}
.modal{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1050;
	display: none;
	background: rgba(0, 0, 0, 0.8);
}
.close-modal{
	background: url('../images/times.svg') no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 14px;
	position: absolute;
	right: -25px;
	top: 0;
	width: 14px;
	border: none;
	padding: 0;
	cursor: pointer;
	transition: all 0.3s ease;
}
.close-modal:hover{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.modal-dialog{
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 201;
}
.modal-table{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
.modal-cell{
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}
.modal-main{
	margin: 0 auto;
	max-width: 700px;
	background: #fff;
	padding: 25px 30px 30px;
	position: relative;
	border-radius: 4px;
}
.modal-sm{
	max-width: 420px;
}
.modal-md{
	max-width: 680px;
}
.modal-lg{
	max-width: 880px;
}
.modal-title{
	font: 36px/42px "Roboto Slab",arial,helvetica,sans-serif;
	margin: 0 0 15px;
}
.litebox-modal{
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	position: fixed;
	left: 0;
	z-index: 200;
}
.litebox-modal.done img{
	display: none;
}
.lightbox-loader{
	border-radius: 50px;
	cursor: wait;
	left: 50%;
	margin: -27px 0 0 -27px;
	overflow: hidden;
	padding: 2px;
	position: absolute;
	top: 50%;
	z-index: 201;
}
/* container */
.container{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 1px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container.main{
    padding-top: 30px;
	padding-bottom: 50px;
}
h1{
    font-size: 54px;
    line-height: 58px;
    font-weight: normal;
    margin: 0 0 15px;
}
h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    margin: 0 0 15px;
}
.flex-container{
	display: -ms-flex;
	display: flex;
	height: 100vh;
	margin: 0 0 70px;
	position: relative;
}
.flex-container > div{
	-ms-flex: 1;
	flex: 1;
}
.flex-container .text-block{
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #000;
	font-size: 23px;
	line-height: 30px;
	text-align: center;
	padding: 100px 0 50px;
	overflow: hidden;
}
.flex-container .photo{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	z-index: 2;
}
.flex-container .photo img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.flex-container .image-block{
	position: relative;
}
.flex-container .image-block img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.flex-container .image-text{
	position: absolute;
	top: 100%;
	right: 0;
	text-align: right;
	padding: 10px 15px 10px 10px;
	font-size: 15px;
	line-height: 18px;
	color: #666;
}
.text-container{
	margin: 0 auto 15px;
	max-width: 600px;
}
.text-container:last-child{
    margin-bottom: 0;
}
.text-container h1{
	font-size: 46px;
	line-height: 56px;
}
.image-container{
	padding: 20px 0;
	font-size: 15px;
	line-height: 18px;
	color: #666;
}
.image-container img{
	margin: 0 0 10px;
}
/*videos*/
.video-block{
    padding: 30px 0;
    margin: 0 0 50px;
    border: 2px solid #ccc;
    background: #fff;
}
.video{
    background: #f2f2f2 url("../images/loader.gif") no-repeat center center;
    margin: 0 0 15px;
    overflow: hidden;
    width: 600px;
    height: 338px;
}
.video:last-child{
    margin-bottom: 0;
}
.video iframe{
    width: 100%;
    height: 100%;
    display: block;
}
.video-links{
    font-size: 0;
    line-height: 0;
    padding: 0 0 50px;
}
.video-links li{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    font-size: 16px;
    line-height: 18px;
}
.video-links li:not(:last-child):after{
    content: '|';
    margin: 0 0 0 10px;
}
.back-to-top{
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.back-to-top:hover{
    background: rgba(0,0,0,0.3);
}
.back-to-top.show{
    opacity: 1;
    visibility: visible;
}
.back-to-top:before{
    content: '';
    position: absolute;
    left: 12px;
    top: 5px;
    pointer-events: none;
    border-style: solid;
    border-color: transparent;
    border-width: 10px;
    height: 0;
    width: 0;
    border-bottom-color: #fff;
}

/* media queries */
@media(max-width: 991px){
	.flex-container{
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		height: auto;
		margin: 0 0 20px;
	}
	.flex-container .text-block{
		display: block;
		background: #fff;
		color: #000;
		text-align: left;
		padding: 0 15px;
	}
	.flex-container .image-block{
		margin: 0 0 50px;
	}
	.flex-container .image-text{
		position: static;
	}
	.image-container{
		margin: 0 -24px;
	}
	.image-container p{
		padding: 0 15px;
	}
}
@media(max-width: 767px){
	.image-container{
		margin: 0 -15px;
	}
    .video-block{
        padding: 15px;
        margin: 0 -15px 30px;
    }
    .video{
        width: 450px;
        height: 254px;
        margin: 0 auto;
    }
}
@media(max-width: 479px){
    .video{
        width: 290px;
        height: 164px;
    }
}