span.icon>.fa {
    cursor: default;
}
.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,.5); */
    cursor: default;
}
.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    /*text-shadow: 1px 1px 2px rgba(155,155,0,.8);*/
    color: #111;
}
.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}
.title{
    font-style: italic;
    text-align: center;
}

.imageblock{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.admonitionblock {
    margin-bottom: 10px;
}

.green{
    color: #43C78A;
}

