.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    margin: 0 0 0 0px;
}

/* This is commented out because it's causing issues with our theme.*/
/*.nav {
    padding: 4px;
    margin: 0px;
}*/

/* This is commented out because it's causing issues with our theme.*/
/*.nav > li {
    margin: 4px 0;
}
*/

.nav > li li {
    margin: 2px 0;
    font-family: 'Roboto';
}

.nav li h3 {
    font-family: 'Roboto';
}

.nav a {
    color: #333;
    display: block;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Roboto';
}

.nav li > a > span {
    position: absolute;
    right: 0;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.nav li > a.header > span {
    margin-top: 27px;
}

.nav li > a:hover {
    color: #7f7f7f;
}

.nav li > a > span:after {
    content: '\25be';
}
.nav li.open > a > span:after {
    content: '\25b4';
}

.nav a:hover {
    color: #7f7f7f;
}

.nav li.active > a {
    color: #000000;
}

.nav > li.active > a  {
    background-color: #eeeeee;
    color: #000000;
    font-weight: bolder;
}

.nav li a {
    font-size: 12px;
    line-height: 18px;
    padding: 2px 10px;
}

.nav > li > a {
    font-size: 14px;
    line-height: 20px;
    padding: 4px 10px;
}