#nav-button { display: block; position: fixed; left: 0; margin-top: 25px; border: 1px solid #CCC; border-radius: 0 6px 6px 0; background-color: #EEEEEE; padding: 10px 6px; width: 1em; height: 3em; color: #333333; font-weight: bold; font-size: 0.85em; word-wrap: break-word; line-height: 1; text-align: center; text-decoration: none; box-sizing: content-box; transition: left 0.3s ease-in-out; z-index: 10; }

#nav-button:visited, #nav-button:hover, #nav-button:active { text-decoration: none; }

#nav-button.open { left: 240px; }

nav.sidebar { position: fixed; top: 70px; bottom: 0; left: -240px; width: 240px; color: #000000; overflow-y: auto; transition: left 0.3s ease-in-out; z-index: 10; }

nav.sidebar.open { left: 0; }

div.article-container { width: 100%; }

div.article-container .license-notice { width: 100%; }

@media screen and (max-width: 500px) { body.homepage div.category-section { width: 100%; } }

@media (max-width: 600px) { .os-matrix p { display: block; border-left: none; padding-top: 0; padding-bottom: 0; } }

/*# sourceMappingURL=mobile.css.map */