.nav-toggle.two {
    background: #161616;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    color: #FFFFFF;
    height: 70px; }
/* https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/ */
.nav-toggle.two a.nav-skip-button {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden; }
.nav-toggle.two a.nav-skip-button:active,
.nav-toggle.two a.nav-skip-button:focus,
.nav-toggle.two a.nav-skip-button:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible; }
.nav-toggle.two .widescreen a.logo {
    position: absolute;
    top: 18px;
    z-index: 3; }
.nav-toggle.two .widescreen img.logo {
    height: 35px; }
.nav-toggle.two .widescreen a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico) {
    color: inherit;
    text-decoration: none; }
.nav-toggle.two .widescreen a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico):hover {
    color: #1CBF43; }
.nav-toggle.two .widescreen .main-nav {
    list-style: none;
    position: absolute;
    font-size: 14px; }
.nav-toggle.two .widescreen .main-nav > .nav-item {
    display: inline-block;
    cursor: pointer; }
.nav-toggle.two .widescreen .main-nav > .nav-item.submenu-open .submenu,
.nav-toggle.two .widescreen .main-nav > .nav-item:focus-within .submenu,
.nav-toggle.two .widescreen .main-nav > .nav-item:hover .submenu {
    display: block; }
.nav-toggle.two .widescreen .main-nav.left-links {
    left: 92px;
    top: 24.5px;
    font-weight: 400; }
.nav-toggle.two .widescreen .main-nav.left-links > .nav-item {
    padding: 0 14px 0 14px; }
.nav-toggle.two .widescreen .main-nav.right-links {
    display: none;
    right: 15px;
    top: 12px;
    z-index: 0; }
.nav-toggle.two .widescreen .main-nav.right-links .btn, .nav-toggle.two .widescreen .main-nav.right-links .btn-primary, .nav-toggle.two .widescreen .main-nav.right-links .btn-secondary, .nav-toggle.two .widescreen .main-nav.right-links .btn-primary-enterprise, .nav-toggle.two .widescreen .main-nav.right-links .btn-secondary-enterprise, .nav-toggle.two .widescreen .main-nav.right-links .btn-secondary-enterprise-ico {
    margin-bottom: 5px; }
.nav-toggle.two .widescreen .main-nav.right-links > .nav-item.default-item, .nav-toggle.two .widescreen .main-nav.right-links > .dashboard-link.default-item {
    padding: 0 6px; }
.nav-toggle.two .widescreen .main-nav.right-links > .nav-item.divider-left, .nav-toggle.two .widescreen .main-nav.right-links > .dashboard-link.divider-left {
    padding: 8px 18px;
    border-left: 1px solid #D8D8D8;
    margin-left: 8px; }
.nav-toggle.two .widescreen .submenu {
    display: none;
    position: absolute;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none; }
.nav-toggle.two .widescreen .submenu .subnav {
    margin-top: 20px;
    background: #FFFFFF;
    color: #161616;
    padding: 4px 16px 10px 15px;
    border-radius: 2px;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 175px; }
.nav-toggle.two .widescreen .submenu .subnav::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 15px;
    left: 28px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFFFFF; }
.nav-toggle.two .widescreen .submenu .subnav .subnav-item {
    display: block;
    padding: 5px 2px;
    margin: 4px 0;
    width: 100%; }
.nav-toggle.two .widescreen .submenu .subnav .subnav-item.border-bottom {
    border-bottom: 1px solid #F3F3F3; }
.nav-toggle.two .widescreen .submenu .subnav .subnav-item:hover {
    color: #1CBF43; }
.nav-toggle.two .narrowscreen {
    display: none; }
.nav-toggle.two .narrowscreen .navbar-toggle {
    position: absolute;
    top: 13px;
    left: 10px;
    display: none;
    display: block;
    border: none;
    background: transparent; }
.nav-toggle.two .narrowscreen .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all .2s;
    transition: all .2s;
    background: #FFFFFF;
    pointer-events: none; }
.nav-toggle.two .narrowscreen .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%; }
.nav-toggle.two .narrowscreen .navbar-toggle .middle-bar {
    opacity: 0; }
.nav-toggle.two .narrowscreen .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%; }
.nav-toggle.two .narrowscreen .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
.nav-toggle.two .narrowscreen .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
.nav-toggle.two .narrowscreen .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
.nav-toggle.two .narrowscreen .logo {
    height: 35px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 20px auto; }
.nav-toggle.two .narrowscreen .login {
    position: absolute;
    right: 10px;
    top: 24px; }
.nav-toggle.two .narrowscreen .login a {
    color: #FFFFFF;
    font-weight: 400; }
.nav-toggle.two .narrowscreen .navbar-toggle.collapsed ~ .dropdown-menu2 {
    display: none; }
.nav-toggle.two .narrowscreen .dropdown-menu2 {
    position: fixed;
    overflow: scroll;
    height: calc(100% - 65px);
    width: 100%;
    top: 65px;
    left: 0px;
    padding: 0 12px 24px 12px;
    background: #161616;
    list-style: none; }
.nav-toggle.two .narrowscreen .dropdown-menu2 > .border-bottom {
    border-bottom: 1px solid #D8D8D8; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li {
    color: inherit;
    width: 100%;
    padding: 14px 0;
    cursor: pointer;
    font-weight: 600; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li .btn, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary-enterprise, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico {
    width: 100%; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico) {
    color: inherit;
    padding: 0;
    font-weight: inherit;
    text-decoration: none;
    width: 100%;
    display: inline-block; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico):hover {
    background: #161616;
    color: #1CBF43; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li a:not(.btn):not(.btn-primary):not(.btn-secondary):not(.btn-primary-enterprise):not(.btn-secondary-enterprise):not(.btn-secondary-enterprise-ico):active {
    color: #27A0B6; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li .btn, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary-enterprise, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico {
    color: #FFFFFF;
    font-weight: 600; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li .btn:hover, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary:hover, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary:hover, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-primary-enterprise:hover, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise:hover, .nav-toggle.two .narrowscreen .dropdown-menu2 li .btn-secondary-enterprise-ico:hover {
    background: #1CBF43; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li.arrow > .subnav {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    opacity: .8; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li.arrow > .subnav .subnav-item {
    padding-left: 0;
    font-weight: 400; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li.arrow.collapsed .subnav {
    display: none; }
.nav-toggle.two .narrowscreen .dropdown-menu2 li.arrow.collapsed .fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.nav-toggle.two .narrowscreen .dropdown-menu2 li.arrow .fa-angle-right {
    position: absolute;
    right: 15px;
    color: #04AA51;
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
@media screen and (max-width: 992px) {
    .nav-toggle.two .widescreen {
        display: none; }
    .nav-toggle.two .narrowscreen {
        display: block; } }

.dashboard-link {
    display: none; }

.loggedin .nav-toggle.two .widescreen .main-nav.right-links {
    top: 16px; }
.loggedin .nav-toggle.two .widescreen .main-nav > .visitor-item {
    display: none; }
.loggedin .nav-toggle.two .narrowscreen .login .visitor-item {
    display: none; }
.loggedin .nav-toggle.two .dashboard-link {
    display: inline-block; }

.ais-Breadcrumb-list,.ais-CurrentRefinements-list,.ais-HierarchicalMenu-list,.ais-Hits-list,.ais-InfiniteHits-list,.ais-InfiniteResults-list,.ais-Menu-list,.ais-NumericMenu-list,.ais-Pagination-list,.ais-RatingMenu-list,.ais-RefinementList-list,.ais-Results-list,.ais-ToggleRefinement-list{margin:0;padding:0;list-style:none}.ais-ClearRefinements-button,.ais-CurrentRefinements-delete,.ais-CurrentRefinements-reset,.ais-GeoSearch-redo,.ais-GeoSearch-reset,.ais-HierarchicalMenu-showMore,.ais-InfiniteHits-loadMore,.ais-InfiniteHits-loadPrevious,.ais-InfiniteResults-loadMore,.ais-Menu-showMore,.ais-RangeInput-submit,.ais-RefinementList-showMore,.ais-SearchBox-reset,.ais-SearchBox-submit,.ais-VoiceSearch-button{padding:0;overflow:visible;font:inherit;line-height:normal;color:inherit;background:none;border:0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ais-ClearRefinements-button::-moz-focus-inner,.ais-CurrentRefinements-delete::-moz-focus-inner,.ais-CurrentRefinements-reset::-moz-focus-inner,.ais-GeoSearch-redo::-moz-focus-inner,.ais-GeoSearch-reset::-moz-focus-inner,.ais-HierarchicalMenu-showMore::-moz-focus-inner,.ais-InfiniteHits-loadMore::-moz-focus-inner,.ais-InfiniteHits-loadPrevious::-moz-focus-inner,.ais-InfiniteResults-loadMore::-moz-focus-inner,.ais-Menu-showMore::-moz-focus-inner,.ais-RangeInput-submit::-moz-focus-inner,.ais-RefinementList-showMore::-moz-focus-inner,.ais-SearchBox-reset::-moz-focus-inner,.ais-SearchBox-submit::-moz-focus-inner,.ais-VoiceSearch-button::-moz-focus-inner{padding:0;border:0}.ais-ClearRefinements-button[disabled],.ais-CurrentRefinements-delete[disabled],.ais-CurrentRefinements-reset[disabled],.ais-GeoSearch-redo[disabled],.ais-GeoSearch-reset[disabled],.ais-HierarchicalMenu-showMore[disabled],.ais-InfiniteHits-loadMore[disabled],.ais-InfiniteHits-loadPrevious[disabled],.ais-InfiniteResults-loadMore[disabled],.ais-Menu-showMore[disabled],.ais-RangeInput-submit[disabled],.ais-RefinementList-showMore[disabled],.ais-SearchBox-reset[disabled],.ais-SearchBox-submit[disabled],.ais-VoiceSearch-button[disabled]{cursor:default}.ais-Breadcrumb-item,.ais-Breadcrumb-list,.ais-Pagination-list,.ais-PoweredBy,.ais-RangeInput-form,.ais-RatingMenu-link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.ais-GeoSearch,.ais-GeoSearch-map{height:100%}.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list{margin-left:1em}.ais-PoweredBy-logo{display:block;height:1.2em;width:auto}.ais-RatingMenu-starIcon{display:block;width:20px;height:20px}.ais-SearchBox-input::-ms-clear,.ais-SearchBox-input::-ms-reveal{display:none;width:0;height:0}.ais-SearchBox-input::-webkit-search-cancel-button,.ais-SearchBox-input::-webkit-search-decoration,.ais-SearchBox-input::-webkit-search-results-button,.ais-SearchBox-input::-webkit-search-results-decoration{display:none}.ais-RangeSlider .rheostat{overflow:visible;margin-top:40px;margin-bottom:40px}.ais-RangeSlider .rheostat-background{height:6px;top:0;width:100%}.ais-RangeSlider .rheostat-handle{margin-left:-12px;top:-7px}.ais-RangeSlider .rheostat-background{position:relative;background-color:#fff;border:1px solid #aaa}.ais-RangeSlider .rheostat-progress{position:absolute;top:1px;height:4px;background-color:#333}.rheostat-handle{position:relative;z-index:1;width:20px;height:20px;background-color:#fff;border:1px solid #333;border-radius:50%;cursor:-webkit-grab;cursor:grab}.rheostat-marker{margin-left:-1px;position:absolute;width:1px;height:5px;background-color:#aaa}.rheostat-marker--large{height:9px}.rheostat-value{padding-top:15px}.rheostat-tooltip,.rheostat-value{margin-left:50%;position:absolute;text-align:center;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.rheostat-tooltip{top:-22px}