.margin-top-large, .margin-vertical-large {
    margin-top: 90px; }
@media screen and (max-width: 991px) {
    .margin-top-large, .margin-vertical-large {
        margin-top: 45px; } }

.margin-top-medium, .margin-vertical-medium, .horizontal-logos-flex-container img {
    margin-top: 48px; }
@media screen and (max-width: 767px) {
    .margin-top-medium, .margin-vertical-medium, .horizontal-logos-flex-container img {
        margin-top: 24px; } }

.margin-top-small, .margin-vertical-small {
    margin-top: 18px; }

.margin-left-small {
    margin-left: 12px; }

.margin-right-small {
    margin-right: 12px; }

.margin-bottom-small, .margin-vertical-small {
    margin-bottom: 18px; }

.margin-bottom-medium, .margin-vertical-medium, .horizontal-logos-flex-container img {
    margin-bottom: 48px; }
@media screen and (max-width: 767px) {
    .margin-bottom-medium, .margin-vertical-medium, .horizontal-logos-flex-container img {
        margin-bottom: 24px; } }

.margin-bottom-large, .margin-vertical-large {
    margin-bottom: 90px; }
@media screen and (max-width: 991px) {
    .margin-bottom-large, .margin-vertical-large {
        margin-bottom: 45px; } }

.padding-left-large {
    padding-left: 60px; }
@media screen and (max-width: 991px) {
    .padding-left-large {
        padding-left: 30px; } }

.padding-right-large {
    padding-right: 60px; }

.padding-left-small, .padding-horizontal-small {
    padding-left: 12px; }

.padding-right-small, .padding-horizontal-small {
    padding-left: 12px; }

.padding-top-medium, .padding-vertical-medium {
    padding-top: 48px; }

.padding-bottom-medium, .padding-vertical-medium {
    padding-bottom: 48px; }

@media screen and (min-width: 992px) {
    .screen-md-margin-top-medium {
        margin-top: 48px; } }

@media screen and (min-width: 992px) {
    .screen-md-margin-top-small {
        margin-top: 18px; } }

@media screen and (min-width: 992px) {
    .screen-md-margin-bottom-medium {
        margin-bottom: 48px; } }

@media screen and (max-width: 991px) {
    .screen-md-padding-right-large {
        padding-right: 30px; } }

@media screen and (max-width: 767px) {
    .screen-sm-padding-top-medium {
        padding-top: 48px; } }

pre {
    margin-bottom: 10px;
}